<html>
<body>
	<h1 style="color: green; font-size: 26px">Cadastro APROVADO!!!</h1>
	<p> Aprovação do cliente: ${cliente.nome} ${cliente.sobrenome} - CPF: ${cliente.cpf} 
	<br><br>
	Prezado(a) ${cliente.nome} 
	<br>
	Seu cadastro foi aprovado e sua conta foi criada com sucesso. 
	<br><br> 
	Código da Proposta: ${conta.proposta.codigo}
	<br>
	Banco: ${conta.codigoBanco}
	<br>
	Agência: ${conta.agencia}
	<br>
	Número da conta: ${conta.numeroConta}
	<br>
	Saldo: ${conta.saldo?string.currency}
	
	Obrigado por escolher o Nosso Banco Digital - ZUP!
	</p>
</body>
</html>